<p style="color: green"><%= notice %></p>

<%= render @profile %>

<div>
  <%= link_to t('profiles.edit'), edit_profile_path(@profile) %> |
  <%= link_to t('profiles.back_to_profiles'), profiles_path %>

  <%= button_to "Destroy this profile", @profile, method: :delete %>
</div>
